body {
    background-color: white;
}
  
h1 {
    color: black;
    text-align: left;
}
h2 {
    color: black;
    text-align: left;
}
  
p {
    color:black;
    font-family: verdana;
    font-size: 20px;
}